<nav>
  <ul class="flex flex-col md:flex-row items-center gap-y-3 gap-x-4 justify-center bg-white dark:bg-gray-600 py-3">
    <li>
      <a href="{{ path('app_index') }}">Accueil</a>
    </li>
    <li>
      <a href="{{ path('categories_list') }}">Catégories</a>
    </li>
    <li>
      <a href="{{ path('articles_list') }}">Articles</a>
    </li>
    <li>
      <a href="{{ path('article_new') }}">Nouvel article</a>
    </li>
    <li>
      <a href="{{ path('newsletter_subscribe') }}">Newsletter</a>
    </li>
    <li>
      <a href="{{ path('about_page') }}">À propos</a>
    </li>
  </ul>
</nav>
